<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Corspat - Homepage</title>
    <meta property="og:description" content="Create your own path of courses and keep track of your study sessions with only one click FOR FREE.">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Corspat - Build Your Path">
    <meta property="og:image" content="static/assets/img/homepage/og/homepage_og.png">
    <meta name="description" content="Create your own path of courses and keep track of your study sessions with only one click FOR FREE.">
    <link rel="icon" type="image/png" sizes="16x16" href="static/assets/img/homepage/favicon/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/assets/img/homepage/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="static/assets/img/homepage/favicon/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="static/assets/img/homepage/favicon/android-chrome-512x512.png">
    <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.hp.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cinzel+Decorative&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans&amp;display=swap">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand fixed-top bg-light navigation-clean">
        <div class="container"><a class="text-uppercase link-dark" href="#" style="font-size: 20px;"><i class="fas fa-book-open" style="margin-right: 6px;color: #343a40;" href="#"></i></a><a class="navbar-brand text-uppercase" href="#" style="font-family: 'Cinzel Decorative', serif;color: rgb(52,58,64);">Corspat</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"></button>
            <div class="collapse navbar-collapse" id="navcol-1"><a class="btn btn-primary ms-auto" role="button" href="/login">Sign In</a></div>
        </div>
    </nav>
    <header class="text-center text-white d-flex d-sm-flex align-items-center align-items-sm-center masthead" style="background: linear-gradient(rgba(0,0,0,0.68) 0%, rgba(0,0,0,0.39)), radial-gradient(rgba(255,255,255,0) 0%, rgb(52,58,64) 100%), url(&quot;static/assets/img/homepage/content/bg-masthead.jpg&quot;);background-size: auto, auto, cover;height: 100vh;">
        <div class="overlay" style="height: 100vh;"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto position-relative">
                    <h3 class="display-1" style="font-family: 'Cinzel Decorative', serif;">CORSPAT</h3>
                    <h4 class="text-capitalize mb-4" style="font-family: 'Open Sans', sans-serif;letter-spacing: 1px;">Your study budy!</h4>
                </div>
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto position-relative">
                    <form>
                        <div class="row row-cols-1">
                            <div class="col"><a class="btn btn-primary btn-lg pulse animated" role="button" href="/register" style="width: 145.95px;">Sign up!</a></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <section class="text-center bg-light features-icons">
        <div class="container">
            <div class="row">
                <div class="col-lg-4" data-aos="fade" data-aos-once="true">
                    <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                        <div class="d-flex features-icons-icon"><i class="fas fa-road m-auto text-primary" data-bss-hover-animate="pulse"></i></div>
                        <h3>Create Your Path</h3>
                        <p class="lead mb-0">Create your own path of courses with any&nbsp;open online course provider.<br></p>
                    </div>
                </div>
                <div class="col-lg-4" data-aos="fade" data-aos-once="true">
                    <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                        <div class="d-flex features-icons-icon"><i class="fas fa-table m-auto text-primary" data-bss-hover-animate="pulse" style="color: #007bff;"></i></div>
                        <h3>Track Your Sessions</h3>
                        <p class="lead mb-0">Record easily your study session with only one click. And don't ever loose your sessions again.</p>
                    </div>
                </div>
                <div class="col-lg-4" data-aos="fade" data-aos-once="true">
                    <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                        <div class="d-flex features-icons-icon"><i class="fas fa-hand-holding-usd m-auto text-primary" data-bss-hover-animate="pulse"></i></div>
                        <h3>Entirely Free</h3>
                        <p class="lead mb-0">The entire development of Corspat costs us only time. Get it free.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="showcase">
        <div class="container-fluid p-0">
            <div class="row g-0">
                <div class="col-lg-6 text-white align-self-center order-lg-2 showcase-img" data-aos="fade-up" data-aos-delay="150" data-aos-once="true" style="min-height: 0px;"><img class="img-fluid" src="static/assets/img/homepage/content/bg-showcase-1.jpg" width="100%"><span></span></div>
                <div class="col-lg-6 my-auto order-lg-1 showcase-text" data-aos="fade-up" data-aos-delay="150" data-aos-once="true">
                    <h2><strong>Build your learning path and have a global vision</strong><br></h2>
                    <p class="lead mb-0">It has never been that easy to create<br>your own learning path. Simply add the links of the courses in the order you<br>want to be taking them, and that’s it, you are ready to start your journey.<br></p>
                </div>
            </div>
            <div class="row g-0">
                <div class="col-lg-6 text-white align-self-center showcase-img" data-aos="fade-up" data-aos-delay="150" data-aos-once="true" style="min-height: 0px;"><img class="img-fluid" src="static/assets/img/homepage/content/bg-showcase-2.jpg" width="100%"><span></span></div>
                <div class="col-lg-6 my-auto order-lg-1 showcase-text" data-aos="fade-up" data-aos-delay="150" data-aos-once="true">
                    <h2>Keep track of the time you spend studying</h2>
                    <p class="lead mb-0">We made it easier for you to monitor your learning activity. You only need to press “Start” when you begin your course and “Stop” when you are done. You will also have the possibility to download your studying data whenever you feel the need.</p>
                </div>
            </div>
            <div class="row g-0">
                <div class="col-lg-6 text-white align-self-center order-lg-2 showcase-img" data-aos="fade-up" data-aos-delay="150" data-aos-once="true" style="min-height: 0px;"><img class="img-fluid" src="static/assets/img/homepage/content/bg-showcase-3.jpg" width="100%"><span></span></div>
                <div class="col-lg-6 my-auto order-lg-1 showcase-text" data-aos="fade-up" data-aos-delay="150" data-aos-once="true">
                    <h2>It’s free.</h2>
                    <p class="lead mb-0">All the tools we propose are free. We hope we can keep it this way for long, in order to help all of you stay organized.<br><br>You will be notified if we are facing any challenges.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="text-center bg-light testimonials">
        <div class="container">
            <h2 class="mb-5">Everything you need to know about Corspat...</h2>
            <div class="row">
                <div class="col"><div>
    <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube.com/embed/MlJdMr3O5J4' frameborder='0' allowfullscreen></iframe></div>
</div></div>
            </div>
        </div>
    </section>
    <section class="text-center text-white call-to-action" style="background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0,123,255,0.14) 100%), linear-gradient(rgba(0,0,0,0.84), rgba(0,0,0,0.37)), url(&quot;static/assets/img/homepage/content/bg-foothead.jpg&quot;) center bottom / cover no-repeat;">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto position-relative">
                    <h2 class="mb-4">Ready to get started? Sign up now!</h2>
                </div>
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto position-relative">
                    <form>
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-3"><a class="btn btn-primary btn-lg" role="button" href="/register">Sign up!</a></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <footer class="bg-light footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center text-lg-start my-auto h-100">
                    <p class="text-muted small mb-4 mb-lg-0">© Corspat 2021. All Rights Reserved.</p>
                </div>
                <div class="col-lg-6 text-center text-lg-end my-auto h-100">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item"><a href="https://github.com/inidal" target="_blank"><i class="fab fa-github fa-2x fa-fw" style="color: rgb(52,58,64);"></i></a></li>
                        <li class="list-inline-item"><a href="https://inidal.dev" target="_blank"><i class="fab fa-dev fa-2x fa-fw" style="color: rgb(52,58,64);"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="static/assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
</body>

</html>